@model IEnumerable<Blog>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container mt-3">
    <h2 style="text-align:center">Blog List</h2>
    <br />
    <a class="btn btn-primary btn-sm mb-1" asp-controller="Blog" asp-action="Create">Add Blog</a>
    <div class="row">
        <div class="col">
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped">
                    <thead class="bg-blue">
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Is Approved</th>
                            <th>Is Home</th>
                            <th>Is Slider</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.BlogId</td>
                            <td><img src="~/img/@item.Image" alt="lütfen resim ekleyin" width="100" /></td>
                            <td>@item.Title</td>
                            <td>@item.Date.Day.@item.Date.Month.@item.Date.Year</td>
                            <td>
                                @if (item.isApproved)
                                {
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                }
                            </td>
                            <td>
                                @if (item.isHome)
                                {
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                }
                            </td>
                            <td>
                                @if (item.isSlider)
                                {
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                }
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" asp-controller="Blog" asp-action="Edit" asp-route-id="@item.BlogId">Edit</a>
                                <a class="btn btn-danger btn-sm" asp-controller="Blog" asp-action="Delete" asp-route-id="@item.BlogId">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">Blog eklenmemiş.</div>
            }
        </div>
    </div>
</div>



